.container{
    background-color: #0188b3;
    min-height: 200px;
    padding: 30px 5%;
}

.header{
    width: 100%;
    text-align: center;
    padding-bottom: 30px;

    h3{
        color: #b3dbe5;
        font-size: 3rem;
    }
}

.products{
    width: 100%;
    //display: flex;
}

.centerCard{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.productCard{
    display: flex;
    flex-direction: column;
}

.productImage{
    width: 19vw;
    height: 25vw;
    background-color: #0188b3;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

.productTitle{
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    
    padding-left: 2px;
}

.productPrice{
    font-size: 1.1rem;
    color: #fff;

    padding-left: 2px;
}

@media (max-width: 890px) {
    .productImage{
        width: 25vw;
        height: 32vw;
    }
}

@media (max-width: 750px) {
    
    .container{
        padding: 30px 3%;
    }

}

@media (max-width: 650px) {

    .header{
        h3{
            font-size: 2.5rem;
        }
    }

    .productImage{
        width: 40vw;
        height: 52vw;
    }

}

@media (max-width: 350px) {
    .productImage{
        width: 75vw;
        height: 100vw;
    }
}