.container{
    width: 100%;
    height: 500px;
    background-color: violet;
    display: flex;
}

.row{
    width: 50%;
    height: 100%;
    display: flex;
}

.column{
    width: 50%;
    height: 100%;
    position: relative;

    &:hover{

        .flexContainer{
            background-color: rgba(0, 0, 0, 0.25);
        }

        .icon{
            width: 14vw;
            height: 14vw;
        }

        h5{
            color: #fff;
        }

    }
}

.flexContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    transition: all 0.3s ease;   
}

.content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;

    .icon{
        width: 12vw;
        height: 12vw;
        position: relative;
        transition: all 0.3s ease;
    }

    h5{
        color: transparent;
        font-size: 1.2rem;
        font-weight: 500;
        transition: all 0.3s ease;
        font-family: 'Prompt';
    }

}

@media (max-width: 1200px) {
    .column{
        &:hover{
            .icon{
                width: 18vw;
                height: 18vw;
            }
        }
    }

    .content{
        .icon{
            width: 17vw;
            height: 17vw;
        }
    }
    
}

@media (max-width: 800px) {
    .container{
        flex-direction: column;
        height: 100vw;
    }
    .row{
        width: 100%;
        height: 50%;
    }

    .column{
        &:hover{
            .icon{
                width: 28vw;
                height: 28vw;
            }
        }
    }

    .content{
        .icon{
            width: 25vw;
            height: 25vw;
        }
    }
}

@media (max-width: 530px) {
    .container{
        height: 1000px;
    }

    .row{
        flex-direction: column;
    }

    .column{
        width: 100%;
        height: 50%;

        &:hover{
            .icon{
                width: 35vw;
                height: 35vw;
            }
        }
    }

    .content{
        .icon{
            width: 30vw;
            height: 30vw;
        }
    }
}