.footer{
    background-color: #003360;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 120px;

    @media (max-width: 750px) {
        flex-direction: column;
        align-items: center;
        padding: 50px 0px;
    }
}

.links{
    width: 250px;
    color: #b3dbe5;

    .sectionTitle{
        font-size: 1.2rem;
        color: #b3dbe5;
        margin-bottom: 25px;
    }
    
    .link{
        margin: 5px 0;
        font-weight: 600;
    }

    @media (max-width: 1050px) {
        width: 200px;
        font-size: 0.9rem;
    }

    @media (max-width: 890px) {
        width: 150px;
        font-size: 0.9rem;
    }

    @media (max-width: 750px) {
        width: 100%;
        text-align: center;
        margin-bottom: 35px;

        .link{
            margin: 15px 0;
            font-weight: 600;
        }
    }
}

.hidden{
    position: absolute;
    left: -50000px;
}

.inputText{
    width: 100%;
    padding: 0.4em 0.5em;
    font-size: 1rem;
}

.displayNone{
    display: none;
}

.newsletter{
    width: 500px;
    height: 150px;
    padding: 0px 25px;

    .sectionTitle{
        font-size: 1.2rem;
        color: #b3dbe5;
        margin-bottom: 25px;
    }

    .form{
        input{
            width: 100%;
            padding: 0.5em;
            font-size: 1rem;
            border-radius: 5px;
            border: 2px solid #fff;
        }

        button{
            font-size: 1rem;
            width: 100%;
            margin: 0.5em 0;
        }
    }

    .confirmationMessage{
        padding: 1em;
        border-radius: 5px;
        border: 2px solid #b3dbe5;
        text-align: center;
        color: #b3dbe5;
        font-weight: 600;

        &.error{
            border-color: tomato;
            color: tomato;
        }
    }

    .input{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;

        .textArea{
            width: 70%;
            background-color: #fafafa;
            padding: 8px 15px;
            color: dimgray;
        }

        .button{
            width: 30%;
            background-color: #028ab5;
            padding: 8px 15px;
            text-align: center;
            color: #fff;
        }
    }

    .input{
        width: 100%;
        padding: 0.5em 0.5em;
        font-size: 1rem;
        border-radius: 5px;
    }

    .suscribe{
        width: 100%;
        margin-top: 5px;
        background-color: #b3dbe5;
        border-color: #b3dbe5;
        color: #003360;
    }

    .confirmation{
        width: 100%;
        color: #b3dbe5;
        display: flex;
        font-weight: 600;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px 5px;
        border: 2px solid #b3dbe5;
        border-radius: 5px;

        span{
            margin-right: 5px;
        }
    }

    @media (max-width: 1050px) {
        width: 400px;

        .input{
            flex-direction: column;
    
            .textArea{
                width: 100%;
                margin-bottom: 5px;
            }
    
            .button{
                width: 100%;
            }
        }
    }

    @media (max-width: 890px) {
        width: 350px;
    }

    @media (max-width: 750px){
        width: 100%;
        text-align: center;
        margin-bottom: 35px;
    }
}


.contact{
    width: 300px;
    color: #b3dbe5;

    .sectionTitle{
        font-size: 1.2rem;
        color: #b3dbe5;
        margin-bottom: 25px;
    }
    
    .adress{
        font-weight: 600;
    }

    @media (max-width: 1050px) {
        width: 250px;
        font-size: 0.9rem;
    }

    @media (max-width: 890px) {
        width: 200px;
    }

    @media (max-width: 750px){
        width: 100%;
        text-align: center;
    }
}

.sectionTitle{
    font-size: 1.2rem;
}
