.onboarding{
    color: #fff;
    background-color: #003360;
}

.row{
    display: flex;
}

.column{
    width: 50%;
    padding: 0px 80px;
    min-height: 50vh;
    position: relative;
    font-size: 1.3rem;
    display: flex;
    align-items: center;

    h3{
        font-size: 2.2rem;
    }

    & button{
        margin-top: 15px;
    }
}

@media (max-width: 768px) {

    .row{
        flex-direction: column;
        justify-content: center;
    }

    .column{
        width: 100%;
        padding: 0px 30px;
        text-align:center;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
    }

    .first{
        order: 1;
    }

    .second{
        order: 2;
    }

}