.container{
    position: relative;
}
.floatingImg{
    width: 42vw;
    height: 50vw;
    position: absolute;
    top: 100px;
    left: 0px;
}

.onboarding{
    display: flex;
    justify-content: center;
    padding: 140px 0px;
}

.contentBlock{
    width: 1000px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content{
    width: 50%;
    font-size: 1.2rem;
    font-weight: 500;

    h2{
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 45px;
    }

    button{
        margin-top: 35px;
    }
}

@media (max-width: 768px) {


}