.fields{
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    align-items: center;
    padding-bottom: 40px;
}

.firstField{
    width: 52%;
}

.field{
    width: 16%;
    text-align: center;
}

.products{
    display: flex;
    font-size: 1.2rem;
    align-items: center;
}