.container{
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total{
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1.7rem;

    .number{
        color: #0082aa;
    }
}

.buttons{
    display: flex;
    
    button{
        margin-left: 10px;
        font-size: 1rem;
        font-weight: 500;
    }

    .disabled{
        background-color: #cfcfcf;
        border-color: #cfcfcf;
    }
}

@media (max-width: 500px) {

    .container{
        flex-direction: column;
    }

    .total{
        margin-bottom: 10px;
    }

    .buttons{
        button{
            margin: 0px 5px;
        }
    }

}
