.container{
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.swiper, .slide, .slideContainer, .formContainer{
    height: 100%;
}

.stepContent{
    height: 90%;
    border: 2px solid rgb(233, 233, 233);
    border-radius: 10px;
}