.desktopNavbar{
    position: fixed;
    width: 100%;
    background-color: transparent;
    height: 85px;
    display: flex;
    padding: 0 3rem;
    border-bottom: 2px solid transparent;
    z-index: 999;
    transition: all 0.3s ease;

    @media (max-width: 985px) {
        padding: 0px 15px;
    }

    @media (max-width: 890px) {
        display: none;
    }
}

.desktopNavbar.active{
    background-color: #fff;
    border-bottom: 2px solid #ECECEC;
}

.background{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.logo{
    width: 200px;
    display: flex;
    align-items: center;
    cursor: pointer;
    
    svg{
        width: 100%;
        height: auto;
        fill: #fff;
        transition: all 0.3s ease;
    }
    
    svg.active{
        fill: #028ab5;
    }

    img{
        width: 100%;
        height: auto;
    }

    @media (max-width: 985px) {
        width: 175px;
    }
}

.svg{
    fill: #fff;
}

.navigation{
    width: calc(100% - 400px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

    .navItem{
        margin: 0 8px;
        font-size: 0.9rem;
        font-weight: 500;
        color: #fff;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        transition: all 0.3s ease;

        span{
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        @media (max-width: 985px) {
            margin: 0px 7px;
        }
    }

    .navItem.active{
        color: #59748b;
    }

    @media (max-width: 985px) {
        width: calc(100% - 220px);
    }

}

.dropdownWrapper{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px 20px;
    z-index: 1;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease;
}

.dropdownWrapper.active{
    background-color: #fff;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.navItemContent{
    display: flex;
}

.gtgDescription{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #59748b;

    .gtgImage{
        width: 200px;
        height: 120px;
        position: relative;
        align-self: center;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
    }

    h3{
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 1.1rem;
    }

    p{
        margin: 0;
        font-weight: 400;
        font-size: 0.95rem;
    }
}

.itemImage{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .image{
        width: 100%;
        height: 120px;
        position: relative;
        align-self: center;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
    }

    @media (max-width: 985px) {
        width: 180px;
    }
}

.itemDescription{
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    color: #fff;
    transition: all 0.3s ease;

    h3{
        color: #fff;
        font-family: 'Prompt';
        transition: all 0.3s ease;
    }

    p{
        font-weight: 400;
        font-size: 0.95rem;
        font-weight: 300;
    }

    .button{
        background-color: #fff;
        color: rgba(0, 0, 0, 0.7);
        padding: 10px 25px;
        border: 2px solid #fff;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease;
        text-align: center;
    }

    .button.active{
        background-color: #028ab5;
        border-color: #028ab5;
        color: #fff;
    }

    @media (max-width: 985px) {
        width: 190px;
    }
}

.itemDescription.active{
    color: #59748b;

    h3{
        color: #003360;
    }
}

.gtgCopy{
    width: 200px;
    margin-left: 5px;

    h3{
        font-family: 'Prompt';
        color: #fff;
        transition: all 0.3s ease;
    }

    p{
        font-weight: 400;
    }
}

.gtgCopy.active{
    h3{
        color: #003360;
    }
}

.gtgCategories{
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-left: 15px;
    color: #fff;

    .categoryLink{
        min-height: 30px;
        display: flex;
        align-items: center;
        padding: 2px 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover{
            background-color: #ffffff5a;
        }
    }

    .categoryLink.active{
        
        &:hover{
            background-color: #ececec;
        }
    }
}

.gtgCategories.active{
    color: #59748b;
}

.icons{
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon{
    cursor: pointer;
    color: #fff;
    transition: all 0.3s ease;
}

.icon.active{
    color: #003360;
}

.mobileNavbar{
    display: none;

    @media (max-width: 890px) {
        display: flex;
        background-color: transparent;
        height: 70px;
        position: fixed;
        width: 100%;
        padding: 0px 20px;
        z-index: 999;
        justify-content: space-between;
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

        &.active{
            background-color: #fff;
        }
    }

    @media (max-width: 400px) {
        padding: 0px 5%;
    }
}

.mobileLogo{
    width: 200px;
    display: flex;
    align-items: center;
    cursor: pointer;

    svg{
        fill: #fff;
        transition: all 0.3s ease;
    }

    svg.active{
        fill: #028ab5;
    }

    img{
        width: 100%;
        height: auto;
    }

    @media (max-width: 400px) {
        width: 60%;
    }
}

.icons{
    display: flex;
    align-items: center;

    .mobileIcon{
        margin-left: 15px;
        color: #fff;
        transition: all 0.3s ease;
    }

    .mobileIcon.active{
        color: #003360;
    }
}

.mobileMenuBackground{
    width: 250px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0px -10px 5px 1px rgba(0, 0, 0, 0.30);
}

.closeSection{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.mobileNavigation{
    width: 100%;
}

.mobileNavItem{
    width: 100%;
    margin-bottom: 5px;
    padding: 15px 15px;
    font-family: 'Poppins';
    font-weight: 500;

    &:hover{
        background-color: rgb(233, 233, 233);
    }
}
