.desktopNavbar{
    position: fixed;
    width: 100%;
    background: #fff;
    height: 85px;
    display: flex;
    padding: 0 3rem;
    border-bottom: 2px solid #ECECEC;
    z-index: 1000000000 !important;
}

.logo{
    width: 200px;
    display: flex;
    align-items: center;

    img{
        width: 100%;
        height: auto;
    }
}

.navigation{
    width: calc(100% - 280px);
    display: flex;
    align-items: center;
    padding: 0 20px;

    .navItem{
        margin: 0 8px;
        font-size: 0.9rem;
        font-weight: 500;
        color: #59748b;
        height: 55px;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
    }
}

.navItemContent{
    display: flex;
}

.gtgDescription{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .gtgImage{
        width: 250px;
        height: 120px;
        position: relative;
        align-self: center;
    }

    h3{
        margin-top: 15px;
        margin-bottom: 10px;
    }

    p{
        margin: 0;
    }
}

.gtgCategories{
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-left: 20px;

    .categoryLink{
        min-height: 30px;
        display: flex;
        align-items: center;
        padding: 2px 10px;
        border-radius: 5px;

        &:hover{
            background-color: #ececec;
        }
    }
}

.icons{
    width: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon{
    cursor: pointer;
}