.makeYourBox{
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 140px 0px;
    display: flex;
}

.summary{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding-top: 45px;
    padding-left: 4%;
    flex-direction: column;
    align-items: flex-start;
}

.mobileSummary{
    display: none;
}

.choose{
    width: 80%;
    padding: 0;
    padding-top: 45px;
    overflow-x: hidden;
    height: auto;
}

.form{
    height: 75%;
    width: 100%;
}

.slides{
    background-color: none;
    padding-right: 4%;
    padding-left: 1%;
    height: 100%;
}

.controllers{
    background-color: #fff;
    padding: 10px 45px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    box-shadow: 0 -1px 4px (rgba($color: #000000, $alpha: 0.13));
}

.prevContainer{
    width: 100%;
    min-height: 100vh;
    padding-top: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0 5%;

    .question{
        font-size: 1.2rem;
        font-weight: 500;
    }

    .warning{
        font-size: 1.1rem;
        margin: 10px 0px;
    }

    .actionButtons{
        margin-top: 15px;

        button{
            margin: 5px;
        }
    }
}

@media (max-width: 950px) {
    .makeYourBox{
        flex-direction: column;
        height: auto;
        min-height: 100vh;
    }

    .summary{
        width: 100%;
        padding: 0px 10px;
        text-align: center;
        height: auto;
        display: none;
    }

    .mobileSummary{
        display: block;
    }

    .slides{
        padding-right: 0px;
        padding-left: 0px;
        min-height: 100vh;
    }

    .choose{
        width: 100%;
        height: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
    }

    .form{
        height: auto;
    }

    .controllers{
        padding: 0px 10px;
        position: -webkit-sticky;
        position: sticky;
        bottom: 0px;
        box-shadow: 0 -1px 4px (rgba($color: #000000, $alpha: 0.13));
    }
}
