.container{
    display: flex;
    justify-content: center;
    color: #003360;
    align-items: center;
    padding-top: 120px;
}

.card{
    min-height: calc(100vh - 85px);
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 100px;
}

.cartHeader{
    padding: 0px;
    margin: 40px 0px;
    text-align: center;
}

.content{
    display: flex;
    width: 100%;
}

.productsSummary{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.fields{
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    align-items: center;
    padding-bottom: 40px;
}

.firstField{
    width: 58%;
}

.field{
    width: 14%;
    text-align: center;
}

.subtotal{
    width: 70%;
    margin-top: 100px;
    display: flex;
    font-size: 1.2rem;

    .title{
        width: 86%;
        font-weight: 600;
    }

    .price{
        width: 14%;
        text-align: center;
    }
}

.cardAndDate{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.choose{
    display: flex;
    flex-direction: column;
}

.options{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.chooseButton{
    color: #028ab5;
    border-color: #028ab5;
    background-color: #fff;
    margin-bottom: 10px;
    min-height: 60px;
    font-weight: 500;
    font-size: 1rem;

    &:hover{
        box-shadow: none;
        border-color: #028ab5;
        background-color: #028bb515;
    }
}

.chooseButton.completedField{
    background-color: #028ab5;
    border-color: #028ab5;
    color: #fff;
}

.fullWidth, .buttonText{
    width: 100%;
}

.continue{
    width: 100%;
    margin-top: 10px;
    background-color: #003360;
    border-color: #003360;
    min-height: 60px;
    font-size: 1rem;
    font-weight: 500;
    &:hover{
        box-shadow: none;
        border-color: #003360;
        background-color:#003360;
    }
}

.continue.disabledButton{
    background-color: #ababab;
    border-color: #ababab;
}

.goBack{
    margin-top: 10px;
    min-height: 60px;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
}

.modal{
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 850px) {
        padding-top: 0px;
    }
}

.progressContainer{
    width: 100%;
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.noProducts{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    text-align: center;

    .noItemsIcon{
        width: 180px;
        height: 180px;
        position: relative;
        margin-bottom: 10px;
    }

    div{
        font-size: 1.2rem;
    }
}

.superCustomContainer{
    width: 100%;
    text-align: center;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customizeCopy{
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: 500;
}

.contactButton{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    background-color: #028ab5;
}

.wppIcon{
    width: 22px;
    height: 22px;
    margin-right: 10px;
    position: relative;
}

@media (max-width: 1150px) {

    .container{
        padding-top: 85px;
    }

    .card{
        width: 100%;
        padding: 25px 8%;
        padding-bottom: 100px;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

    .productsSummary{
        width: 100%;
        margin-bottom: 50px;
    }

    .cardAndDate{
        width: 100%;
        padding: 0;
    }

    .options{
        flex-direction: row;
        justify-content: space-between;
    }

    a.fullWidth{
        order: 2;
    }

    .fullWidth, .goBack{
        width: calc(50% - 7px);
    }

    .subtotal{
        width: 100%;
        
        .title{
            display: flex;
            justify-content: flex-end;
            padding-right: 40px;
        }
    }
}

@media (max-width: 600px) {

    .card{
        width: 100%;
        padding: 25px 5%;
        padding-bottom: 100px;
    }

    .fields{
        display: none;
    }

    .options{
        flex-direction: column;
    }

    a.fullWidth{
        order: 0;
    }

    .fullWidth, .goBack{
        width: 100%;
    }

    .cartHeader{
        margin-bottom: 40px;
    }

    .subtotal{    
        justify-content: space-between;    
        .title{
            width: auto;
        }
        .price{
            width: auto;
        }
    }
}

