.container{
    display: flex;
    justify-content: center;
    color: #003360;
    align-items: center;
    padding-top: 85px;
}


.card{
    min-height: calc(100vh - 85px);
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 0;
}

.cartHeader{
    padding: 0px 10px;
    margin-bottom: 25px;
    text-align: center;
}

.content{
    display: flex;
    width: 100%;
}

.productsSummary{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.fields{
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
    padding-bottom: 40px;
}

.firstField{
    width: 58%;
}

.field{
    width: 14%;
    text-align: center;
}

.subtotal{
    width: 70%;
    margin-top: 100px;
    display: flex;
    font-size: 1.2rem;

    .title{
        width: 86%;
        font-weight: 600;
    }

    .price{
        width: 14%;
        text-align: center;
    }
}

.cardAndDate{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.choose{
    display: flex;
    flex-direction: column;
}

.options{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.chooseButton{
    color: #028ab5;
    border-color: #028ab5;
    background-color: #fff;
    margin-bottom: 10px;
    min-height: 60px;

    &:hover{
        box-shadow: none;
        border-color: #028ab5;
        background-color: #028bb515;
    }
}

.fullWidth, .buttonText{
    width: 100%;
}

.continue{
    width: 100%;
    margin-top: 10px;
    background-color: #003360;
    border-color: #003360;
    min-height: 60px;
    &:hover{
        box-shadow: none;
        border-color: #003360;
        color:#003360;
    }
}

.goBack{
    margin-top: 10px;
    min-height: 60px;
    width: 100%;
}

.modal{
    background-color: rgba(255, 255, 255, 0.30);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

@media (max-width: 1150px) {

    .container{
        padding-top: 40px;
    }

    .card{
        width: 100%;
        padding: 85px 15px;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

    .productsSummary{
        width: 100%;
        margin-bottom: 50px;
    }

    .cardAndDate{
        width: 100%;
        padding: 0;
    }

    .options{
        flex-direction: row;
        justify-content: space-between;
    }

    .fullWidth, .goBack{
        width: calc(50% - 7px);
    }

    .subtotal{
        width: 100%;
        
        .title{
            display: flex;
            justify-content: flex-end;
            padding-right: 40px;
        }
    }
}

@media (max-width: 600px) {
    .fields{
        display: none;
    }

    .options{
        flex-direction: column;
    }

    .fullWidth, .goBack{
        width: 100%;
    }

    .cartHeader{
        margin-bottom: 40px;
    }

    .subtotal{    
        justify-content: space-between;    
        .title{
            width: auto;
        }
        .price{
            width: auto;
        }
    }
}

