@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  color: #003360
}

h1, h2, h3, h4, h5, h6 {
  color: #003360;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

button{
  background-color: #028ab5;
  color: #fff;
  font-weight: 600;
  padding: 10px 25px;
  border: 2px solid #028ab5;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover{
  color: #028ab5;
  background-color: rgba(255, 255, 255, 0);
  border-color: #028ab5;
}


.testContainer{
  padding-top: 85px;
  min-height: 100vh;
}

.ant-steps-item-finish .ant-steps-item-icon{
  border-color: #028ab5 !important;
}

.ant-steps-item-process {
  .ant-steps-item-container{
    .ant-steps-item-icon{
      background-color: #028ab5 !important;
    }
  }
  
}

.ant-steps-item-process .ant-steps-item-icon{
  border-color: #028ab5 !important;
}

.stepper{
  margin-bottom: 50px;
}