.makeYourBox{
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    display: flex;
}

.summary{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px;
}

.choose{
    width: 75%;
    height: 100%;
    padding: 5vh 50px;    
}

