.container{
    min-height: 100vh;
    padding-top: 85px;
    display: flex;
    justify-content: center;
}

.product{
    padding: 45px 0px;
    width: 980px;
    display: flex;
    justify-content:center;
}

.gallery{
    width: 55%;
    display: flex;
    height: 650px;
    padding-right: 25px;
}

.accordion, .summary{
    box-shadow: none;
    padding: 0;
    margin: 0;
}

.info{
    padding-left: 25px;
    width: 45%;
    font-size: 1.2rem;

    .price{
        font-size: 1.5rem;
        margin-bottom: 50px;
    }
    
    h3{
        font-size: 2.2rem;
        color: #003363;
    }

}

.details{

    border: 3px solid #fff;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    font-size: 1.5rem;
    background-color: #fff;
    color: #003363;
    justify-content:flex-start;
    align-items: center;
    cursor: pointer;

    h4{
        margin: 0;
        font-size: 1.3rem;
    }
}

.infoContainer{
    background-color: #fff;
    padding: 10px 0px;
    border-radius: 0px 0px 5px 5px;
    font-size: 1.1rem;
    display: none;
}

.cover{
    position: relative;
    height: 550px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.form{
    margin-top: 55px;
    width: 100%;
}


.hidden{
    display: none;
}

.optionContainer input[type="radio"]:checked + label{
    font-weight: 600;
    color: #028ab5;
    border-color: #028ab5;

    .displayBox{
        border: 2px solid #028ab5;
    }
}

.optionContainer label{
    background-color: red;
}

.add{
    width: 100%;
    margin-top: 35px;
}

.section{
    margin: 0px 0px 10px 0px; 
}

.selectOption{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 10px;
    margin-bottom: 20px;
}

.displayBox{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 55px;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    padding: 5px;
    transition: all 0.3s ease;
}

.displayBox:hover{
    border: 1px solid #028ab5;
    color: #028ab5
}


